body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #005f73;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
}

header fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav label {
    margin-right: 10px;
}

#tarifa {
    width: 70px;
    text-align: center;
}

#datatual {
    width: 160px;
}

button {
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #005f73;
}

.container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form fieldset {
    border: none;
}

.label {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

input[type="number"] {
    width: 70px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

button.icone {
    background: none;
    border: none;
    color: red;
    font-size: 16px;
    cursor: pointer;
}

button.icone:hover {
    color: darkred;
}

.botoes {
    display: flex;
    justify-content: space-between;
}
